<%- include('head') %>
    <!-- Link CSS Personal -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/about/about.css">
    <%- include('navbar') %>
    <!-- Main -->
    <main>
      <section class="container-xl about">
        <div class="row">
          <div class="col-6 pt-5 ms-5">
            <h3>My roots</h3>
            <p>As Italian, food is an essential part of my life. 
              I grew up in the Romagna countryside and there I had the luck of enjoying the traditional and tasteful dishes cooked by my grandmother: a genuine Italian “nonna”. Nowadays when I try new restaurants I find that every dish has such an amount of ingredients that it is really hard to appreciate the real flavors. This is why I am determined to go back to the origin, to the simplicity, to the materia PRIMA.</p>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') %>