<%- include('head') %>
    <!-- Link CSS Personal -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/contact/contact.css">
       <!-- Link Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <%- include('navbar') %>
    <!-- Main -->
    <main>
      <section class="container-xl contact">
        <div class="row text">
          <div class="col-md-12 col-xl-5 pt-5">
            <h2>Book your seat.</h2>
            <p>To make a reservation in any of our restaurant contact us on our telephone number so we can adapt our establishment to your petition: groups, baby carriages or any special request.</p>
            <p>Telephone: 722 64 57 61</p>
            <h2>Events</h2>
            <p>
              Each of our restaurants has a flexible space which can hold openings, a private event and even a mass and intimate meeting in our VIP zone. Ask about availability by calling to our establishment.</p>
              
          </div>
          <div class="col-12 col-md-6 col-xl-5">
            <img class="w-100" src="/images/assets/vajilla.png" alt="">
          </div>
          <div class="col-12 col-md-6 col-xl-2 pt-5 d-flex flex-column">
            <h2>Contact us</h2>
            <form action="">
              <input type="text" placeholder="Name & last name">
              <input type="Email" placeholder="Email">
              <input type="tel" placeholder="Phone number">
            <input type="text" placeholder="Write here..."> 
              <div class="d-flex justify-content-center gap-2">
                <button type="reset">Clear</button>
                <button>Send</button>
              </div>
            </form>
          </div>
          <div class="col-12 d-flex justify-content-center gap-3">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') %>