<%- include('head') %>
    <!-- Link CSS Personal -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/home/home.css" />
    <title>Home</title>
    
    <!-- Main -->
    <main class="container-fluid gx-0">
      <video autoplay loop muted>
        <source src="/videos/home.mp4" type="video/mp4" />
      </video>
      <%- include('navbar') %>
      <section class="container-xl">
        <div class="row title">
          <div class="col-12 d-flex justify-content-center">
            <h1><span class="uno">materia</span> <span class="dos">PRIMA</span></h1>
          </div>
        </div>
      </section>
    </main>
    
